In [10]:
# download-directory • github • io
# https://download-directory.github.io/?url=https%3A%2F%2Fgithub.com%2Fcodebasics%2Fpy%2Ftree%2Fmaster%2FML%2F1_linear_reg%2FExercise
# canada_per_capita_income

# Exercise: Predict Per capita income 2020

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import linear_model

   year  per capita income (US$)
0  1970              3399.299037
1  1971              3768.297935
2  1972              4251.175484
3  1973              4804.463248
4  1974              5576.514583

In [11]:
df = pd.read_csv("canada_per_capita_income.csv")
df.head(5)

   year  per capita income (US$)
0  1970              3399.299037
1  1971              3768.297935
2  1972              4251.175484
3  1973              4804.463248
4  1974              5576.514583

In [9]:
df.tail(5)

    year  per capita income (US$)
42  2012              42665.25597
43  2013              42676.46837
44  2014              41039.89360
45  2015              35175.18898
46  2016              34229.19363

In [8]:
%%HTML
<style type="text/css">
    table.dataframe td, table.dataframe th {
    border: 1px  black solid !important;
    color: black !important;
    }
</style>