In [5]:
# download-directory • github • io
# https://download-directory.github.io/?url=https%3A%2F%2Fgithub.com%2Fcodebasics%2Fpy%2Ftree%2Fmaster%2FML%2F1_linear_reg%2FExercise
# canada_per_capita_income

# Exercise: Predict Per capita income 2020

import pandas as pd
df = pd.read_csv("canada_per_capita_income.csv")
df.head(5)

   year  per capita income (US$)
0  1970              3399.299037
1  1971              3768.297935
2  1972              4251.175484
3  1973              4804.463248
4  1974              5576.514583

In [6]:
%%HTML
<style type="text/css">
    table.dataframe td, table.dataframe th {
    border: 1px  black solid !important;
    color: black !important;
    }
</style>